<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_requirement_path(@requirement), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:name) %></td>
      <td><%= @requirement.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:mobile) %></td>
      <td><%= @requirement.mobile %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:from) %></td>
      <td><%= @requirement.from %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:to) %></td>
      <td><%= @requirement.to %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:pick_on) %></td>
      <td><%= @requirement.pick_on %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:pick_at) %></td>
      <td><%= @requirement.pick_at %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:note) %></td>
      <td><%= @requirement.note %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:created_at) %></td>
      <td><time><%= @requirement.created_at.to_s(:rfc822) %></time></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Requirement.human_attribute_name(:credential) %></td>
      <td><%= image_tag @requirement.credential, class: 'ui large image' if @requirement.credential.attached? %></td>
    </tr>
  </tbody>
</table>
