<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th>
        <p><%= Requirement.human_attribute_name(:name) %></p>
        <p><%= Requirement.human_attribute_name(:mobile) %></p>
      </th>
      <th>
        <p><%= Requirement.human_attribute_name(:from) %></p>
        <p><%= Requirement.human_attribute_name(:to) %></p>
      </th>
      <th>
        <p><%= Requirement.human_attribute_name(:pick_on) %></p>
        <p><%= Requirement.human_attribute_name(:pick_at) %></p>
      </th>
      <th><%= Requirement.human_attribute_name(:note) %></th>
      <th><%= Requirement.human_attribute_name(:state) %></th>
      <th><%= Requirement.human_attribute_name(:credential) %></th>
      <th>接送人联系方式</th>
      <th>
        <%= link_to new_admin_requirement_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @requirements.each do |requirement| %>
    <tr>
      <td>
        <p><%= requirement.name %></p>
        <p><%= requirement.mobile %></p>
      </td>
      <td>
        <p><%= requirement.from_address %></p>
        <p><%= requirement.to_address %></p>
      </td>
      <td>
        <p><%= requirement.pick_on %></p>
        <p><%= requirement.pick_at.to_s(:time) if requirement.pick_at %></p>
      </td>
      <td><%= requirement.note %></td>
      <td><%= requirement.state_i18n %></td>
      <td><%= image_tag requirement.credential, class: 'ui tiny image' if requirement.credential.attached? %></td>
      <td>
        <% if requirement.volunteer %>
          <p><%= requirement.volunteer.name %></p>
          <p><%= requirement.volunteer.account_identities.join(',') %></p>
        <% end %>
      </td>
      <td>
        <%= link_to admin_requirement_path(requirement), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_requirement_path(requirement), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_requirement_path(requirement), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @requirements %>
