<div class="ui top attached borderless menu">
  <div class="header item">Dinners</div>
  <%= link_to 'Dinner Orders', today_hr_dinners_path, class: 'item' %>
  <div class="right menu">
    <div class="item"><%= link_to 'New Dinner', new_hr_dinner_path, class: 'ui teal button' %></div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Dinner.human_attribute_name(:id) %></th>
      <th><%= Dinner.human_attribute_name(:office) %></th>
      <th><%= Dinner.human_attribute_name(:name) %></th>
      <th><%= Dinner.human_attribute_name(:provider) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @dinners.each do |dinner| %>
    <tr>
      <td><%= dinner.id %></td>
      <td><%= dinner.office&.name %></td>
      <td><%= dinner.name %></td>
      <td><%= dinner.provider&.name %></td>
      <td>
        <%#= link_to 'Show', hr_dinner_path(dinner), class: 'ui blue label' %>
        <%= link_to t('.edit'), edit_hr_dinner_path(dinner), class: 'ui pink label' %>
        <%= link_to t('.destroy'), hr_dinner_path(dinner), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @dinners %>
