<% if current_organ %>
  <div class="ui fluid vertical attached menu">
    <%= render 'panel/org_nav' %>
  </div>
<% end %>
<div class="ui fluid vertical accordion bottom attached menu">
  <div class="item">
    <a class="<%= active_helper(modules: 'admin', active_class: 'title active', item_class: 'title') %>">
      <i class="fas fa-users fa-fw"></i>
      <span>湖北志愿者平台</span>
      <i class="dropdown icon"></i>
    </a>
    <div class="<%= active_helper(modules: 'admin', active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to '医护人员', admin_requirements_path, class: active_helper(controllers: 'admin/requirements') %>
      <%= link_to '物资', admin_escorts_path, class: active_helper(controllers: 'admin/escorts') %>
    </div>
  </div>
  <%= render 'admin/org_nav' %>
  <%= render 'auth_nav' %>
  <%= render 'role_nav' %>
  <%= render 'wechat_nav' %>
  <%= render 'as_nav' %>
  <%= render 'profile_nav' %>
  <%= render 'trade_nav' %>
  <%= render 'notice_nav' %>
  <%= render 'factory_nav' %>
  <%= render 'crm_nav' %>
  <%= render 'vip_nav' %>
  <%= render 'event_nav' %>
  <%= render 'finance_nav' %>
  <%= render 'datum_nav' %>
</div>
