<% if current_organ %>
  <div class="ui fluid vertical attached menu">
    <%= render 'panel/org_nav' %>
  </div>
<% end %>
<div class="ui fluid vertical accordion bottom attached menu">
  <%= render 'admin/org_nav' %>
  <%= render 'auth_nav' %>
  <%= render 'role_nav' %>
  <%= render 'wechat_nav' %>
  <%= render 'as_nav' %>
  <%= render 'profile_nav' %>
  <%= render 'trade_nav' %>
  <%= render 'notice_nav' %>
  <%= render 'factory_nav' %>
  <%= render 'crm_nav' %>
  <%= render 'vip_nav' %>
  <%= render 'event_nav' %>
</div>
