<% if current_organ %>
  <div class="ui fluid vertical attached menu">
    <%= render 'org/panel/base/org_nav' %>
  </div>
<% end %>
<div class="ui fluid vertical accordion bottom attached menu">
  <%= render 'org/admin/base/org_nav' %>
  <%= render 'auth/admin/base/auth_nav' %>
  <%= render 'wechat/admin/base/wechat_nav' %>
  <%= render 'active_storage_ext/admin/base/as_nav' %>
  <%= render 'profile/admin/base/profile_nav' %>
  <%= render 'trade/admin/base/trade_nav' %>
  <%= render 'notice/admin/base/notice_nav' %>
  <%= render 'factory/admin/base/factory_nav' %>
  <%= render 'crm/admin/base/crm_nav' %>
  <%= render 'vip/admin/base/vip_nav' %>
</div>
