<% if current_organ %>
  <div class="ui one item secondary menu">
    <%= render 'org/admin/base/choose_nav' %>
  </div>
<% end %>
<div class="ui vertical fluid accordion menu">
  <%= render 'auth/admin/base/auth_nav' %>
  <%= render 'org/admin/base/org_nav' %>
  <%= render 'wechat/admin/base/wechat_nav' %>
  <%= render 'active_storage_ext/admin/base/as_nav' %>
  <%= render 'profile/admin/base/profile_nav' %>
  <%= render 'trade/admin/base/trade_nav' %>
  <%= render 'notice/admin/base/notice_nav' %>
  <%= render 'factory/admin/base/factory_nav' %>
</div>
