<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:from_name) %></label>
  <span class="weui-form-preview__value"><%= escort.from_name %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:from_mobile) %></label>
  <span class="weui-form-preview__value"><%= escort.from_mobile %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:from_address) %></label>
  <span class="weui-form-preview__value"><%= escort.from_address %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:to_name) %></label>
  <span class="weui-form-preview__value"><%= escort.to_name %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:to_mobile) %></label>
  <span class="weui-form-preview__value"><%= escort.to_mobile %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:to_address) %></label>
  <span class="weui-form-preview__value"><%= escort.to_address %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:goods) %></label>
  <span class="weui-form-preview__value"><%= escort.goods %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:car) %></label>
  <span class="weui-form-preview__value"><%= escort.car %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:note) %></label>
  <span class="weui-form-preview__value"><%= escort.note %></span>
</div>
<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:state) %></label>
  <span class="weui-form-preview__value"><%= escort.state_i18n %></span>
</div>
