<div>
  <%= link_to '发布物资', new_my_escort_path, class: 'weui-btn weui-btn_primary' %>
</div>

<div class="weui-form-preview">
  <% @escorts.each do |escort| %>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:mobile) %></label>
        <span class="weui-form-preview__value"><%= escort.mobile %></span>
      </div>
      <%= render partial: 'escort', locals: { escort: escort } %>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:volunteer_id) %></label>
        <span class="weui-form-preview__value"><%= escort.volunteer.account_identities.join(',') if escort.volunteer %></span>
      </div>
    </div>
    <div class="weui-form-preview__ft">
      <%= link_to '修改', edit_my_escort_path(escort), class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
  <% end %>
</div>

<%= paginate @escorts %>
