<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:name) %></label>
      <em class="weui-form-preview__value"><%= @escort.name %></em>
    </div>
  </div>
  <div class="weui-form-preview__bd">
    <%= render partial: 'escort', locals: { escort: @escort } %>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Escort.human_attribute_name(:volunteer_id) %></label>
      <span class="weui-form-preview__value"><%= @escort.volunteer.account_identities.join(',') if @escort.volunteer %></span>
    </div>
  </div>
  <div class="weui-form-preview__ft">
  </div>
</div>
