<%= f.text_field :title, label: 'Titles' %>
<%= f.select :type, options_for_select(Manager.options_i18n(:type), @manager.type), { label: 'Type', include_blank: true } %>
<%= f.text_field :name, label: 'Name' %>
<div class="inline fields">
  <label class="six wide field">Leader</label>
  <div class="ui search selection dropdown">
    <%= f.hidden_field :leader_id %>
    <i class="dropdown icon"></i>
    <input type="text" class="search" tabindex="0">
    <div class="default text">
	    <%= @manager.leader&.name || 'Input Real Name' %>
    </div>
  </div>
</div>
<%= f.collection_select :who_id, Who.all, :id, :name, { label: 'Role：' } %>
<%= f.date_field :join_on, label: 'Join On' %>
<%= f.check_box :disabled, label: 'Disabled' %>
<%= f.submit %>


<script>
  $('.ui.dropdown.search').dropdown({
    apiSettings: {
      url: '/admin/managers/search?q={query}'
    },
    fields: {
      name: 'real_name',
      value: 'id'
    },
    minCharacters: 3
  });

  $('select.ui.dropdown').dropdown();
</script>