<%= form_with theme: 'search' do |f| %>
  <div class="fields">
  <%= f.text_field :name,  placeholder: "用户名：" %>
  <%= f.text_field :mobile, placeholder: "手机号：" %>
  <%= f.text_field :email, placeholder: "hola@123.com" %>
  <%= f.submit "查询", class: 'ui green small button' %>
  </div>
<% end %>
