<div class="">

  <div class="ui top attached menu borderless">
    <div class="item"><strong>用户列表</strong></div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <%= link_to '新建', new_admin_manager_path, class: 'ui teal button', remote: true %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Real Name</th>
	    <th>Roles</th>
      <th>Leader</th>
      <th>Status</th>
      <th>Disabled?</th>
      <th>User</th>
      <th>Join On</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @managers.each do |manager| %>
        <tr>
          <td><%= manager.id %></td>
          <td><%= manager.title %></td>
          <td>
            <%= manager.type %>
          </td>
          <td><%= manager.user&.name %></td>
	        <td>
            <div class="ui teal label"><%= manager.who&.name %></div>
          </td>
          <td><%= manager.leader&.name %></td>
          <td><%# manager.status %></td>
          <td><%= manager.disabled %></td>
          <td>
            <% if manager.user_id.present? %>
              <%= link_to manager.user&.email, admin_user_url(manager.user_id) %>
            <% else %>
              <%= link_to '用户绑定', user_admin_manager_path(manager), class: 'ui blue label', remote: true %>
          <% end %>
          </td>
          <td><%= manager.join_on %></td>
          <td>
            <%= link_to '详细', admin_manager_path(manager), class: 'ui blue label' %>
            <%= link_to '编辑', edit_admin_manager_path(manager), class: 'ui pink label', remote: true %>
            <%= link_to '删除', admin_manager_path(manager), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @managers %>
</div>


