<div class="ui fluid vertical menu">
  <div class="item">
    <span class="header">用户</span>
    <div class="menu">
      <%= link_to '个人资料', my_user_path, class: active_helper(controllers: ['users']) %>
      <%= link_to '开放平台', my_oauth_users_path, class: active_helper(controllers: ['oauth_users']) %>
    </div>
  </div>
  <div class="item">
    <span class="header">找服务</span>
    <div class="menu">
      <%= link_to '购物车', my_cart_items_path, class: active_helper(controllers: ['cart_items']) %>
      <%= link_to '订单', my_orders_path, class: active_helper(controllers: ['orders']) %>
    </div>
  </div>
  <div class="item">
    <span class="header">接项目</span>
    <div class="menu">
      <%= link_to '我的职位', my_workers_path, class: active_helper(controllers: ['workers']) %>
      <%= link_to '我的团队', my_teams_path, class: active_helper(controllers: ['teams']) %>
      <%= link_to '空间管理', my_spaces_path, class: active_helper(controllers: ['spaces']) %>
    </div>
  </div>
</div>






