<%= form_with model: [:my, @space], local: true do |f| %>
  <div class="fields">
    <div class="field">
      <%= label :nation, 'Nation' %>
      <%= select_tag :nation, options_for_select(Area.all_nations), include_blank: true, class: 'ui search selection dropdown' %>
    </div>
    <div class="field">
      <%= label :province, 'Province' %>
      <%= select_tag :province, options_for_select([]), class: 'ui search selection dropdown' %>
    </div>
    <div class="field">
      <%= label :city, 'City' %>
      <%= select_tag :city, options_for_select([]), class: 'ui search selection dropdown' %>
    </div>
  </div>
  <%= f.hidden_field :area_id %>
  <%= f.collection_select :space_taxon_id, SpaceTaxon.all, :id, :name %>
  <%= f.text_field :name %>
  <%= f.text_area :desc %>
  <%= f.submit %>
<% end %>
