<table class="ui table">
  <thead>
  <tr>
    <th>Area</th>
    <th>Name</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.area.province %> <%= space.area.city %></td>
      <td><%= space.name %></td>
      <td><%= space.price %></td>
      <td><%= link_to 'Show', space_path(space) %></td>
      <td>
        <%= link_to 'Edit', edit_my_space_path(space), class: 'ui mini green button' %>
        <%= link_to 'Detail', detail_entity_items_path('Space', space.id), class: 'ui mini blue button' %>
        <%= link_to 'Destroy', my_space_path(space), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui mini red button' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>





