<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Volunteer.human_attribute_name(:name) %></th>
      <th><%= Volunteer.human_attribute_name(:mobile) %></th>
      <th><%= Volunteer.human_attribute_name(:place) %></th>
      <th>
        <%= link_to new_admin_volunteer_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @volunteers.each do |volunteer| %>
    <tr>
      <td><%= volunteer.name %></td>
      <td><%= volunteer.mobile %></td>
      <td><%= volunteer.place %></td>
      <td>
        <%= link_to admin_volunteer_path(volunteer), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_volunteer_path(volunteer), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_volunteer_path(volunteer), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @volunteers %>
