<%= form_with theme: 'weui', model: [:my, @requirement] do |f| %>
  <%= render 'shared/error_messages', target: @requirement %>
  <%= f.text_field :name, required: 'required' %>
  <%= f.text_field :from, required: true %>
  <%= f.text_field :to, required: true %>
  <%= f.date_select :pick_on, required: true %>
  <%= f.time_select :pick_at, {}, class: nil %>
  <%= f.text_area :note, class: 'weui-textarea' %>
  <%= f.file_field :credential, required: true %>
  <%= f.submit %>
<% end %>

<div style="color: red;">
  由于志愿者有限，未上传证件的信息将不会优先处理。
  请务必上传真实有效证件，如有虚假，伪造证件，我平台将依法报告公安机关追责到底！
</div>
