<%= render 'filter' %>

<% @requirements.each do |requirement| %>
  <div class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Requirement.human_attribute_name(:name) %></label>
        <em class="weui-form-preview__value"><%= requirement.name %></em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Requirement.human_attribute_name(:mobile) %></label>
        <span class="weui-form-preview__value"><%= requirement.mobile_public %></span>
      </div>
      <%= render partial: 'requirement', locals: { requirement: requirement } %>
    </div>
    <div class="weui-form-preview__ft">
      <%= link_to '认领任务', pickup_my_requirement_path(requirement), method: :patch, data: { confirm: '请确认是否接受此任务' }, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
  </div>
<% end %>

<%= paginate @requirements %>
