<div style="text-align: center;">
  <a href="javascript:;" id="datePickerBtn" class="weui-btn weui-btn_mini weui-btn_default">日期晚于</a>
</div>

<div class="weui-form-preview">
  <% @requirements.each do |requirement| %>
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Requirement.human_attribute_name(:name) %></label>
        <em class="weui-form-preview__value"><%= requirement.name %></em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label"><%= Requirement.human_attribute_name(:mobile) %></label>
        <span class="weui-form-preview__value"><%= requirement.mobile_public %></span>
      </div>
      <%= render partial: 'requirement', locals: { requirement: requirement } %>
    </div>
    <div class="weui-form-preview__ft">
      <%= link_to '认领任务', pickup_my_requirement_path(requirement), method: :patch, data: { confirm: '请确认是否接受此任务' }, class: 'weui-form-preview__btn weui-form-preview__btn_primary' %>
    </div>
  <% end %>
</div>

<%= paginate @requirements %>

<script>
  document.querySelector('#datePickerBtn').addEventListener('click', function () {
    weui.datePicker({
      start: '2020-02-01',
      end: '2020-02-31',
      cron: '* * *',
      defaultValue: [2020, 2, 1],
      onChange: function onChange(result) {
        console.log(result);
      },
      onConfirm: function onConfirm(result) {
        var search_url = new URL(location.origin + location.pathname)
        search_url.searchParams.set('pick_on-gte', result)
        location = search_url
      },
      id: 'datePicker',
      title: '日期选择器'
    })
  })
</script>
