<div class="weui-tabbar">
  <%= link_to index_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-home weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">首页</div>
  <% end %>
  <%= link_to product_taxons_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-store-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">产品</div>
  <% end %>
  <%= link_to my_customs_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-shopping-cart weui-tabbar__icon">
      <span class="weui-badge"><%= current_cart_count %></span>
    </i>
    <div class="weui-tabbar__label">购物车</div>
  <% end %>
  <%= link_to my_user_path, class: 'weui-tabbar__item' do %>
    <i class="fas fa-user-alt weui-tabbar__icon"></i>
    <div class="weui-tabbar__label">个人中心</div>
  <% end %>
</div>
