<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_escort_path(@escort), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:from_name) %></td>
      <td><%= @escort.from_name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:from_mobile) %></td>
      <td><%= @escort.from_mobile %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:from_address) %></td>
      <td><%= @escort.from_address %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:to_name) %></td>
      <td><%= @escort.to_name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:to_mobile) %></td>
      <td><%= @escort.to_mobile %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:to_address) %></td>
      <td><%= @escort.to_address %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:goods) %></td>
      <td><%= @escort.goods %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:car) %></td>
      <td><%= @escort.car %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:note) %></td>
      <td><%= @escort.note %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Escort.human_attribute_name(:state) %></td>
      <td><%= @escort.state %></td>
    </tr>
  </tbody>
</table>
