<p><span class="muted">咨询电话：</span><%= provider.phone %></p>
<p><span class="muted">售后服务：</span><%= provider.phone_kefu %></p>
<p>
  <span class="muted">商家地址：</span>
  <span><%= provider.area.province %></span>
  <span><%= provider.area.city %></span>
  <span><%= provider.area.district %></span>
  <span><%= provider.address %></span>
</p>
<br />

<p>
  <span class="muted">服务特色：</span>
</p>
<p>
  <span class="muted">资质荣誉：</span>
</p>




