<div class="navbar-brand">
<% if current_session_organ %>
  <%= link_to index_url(subdomain: nil), class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.png', class: 'image' %>
  <% end %>
  <div class="navbar-item">
    <%= image_tag current_session_organ.logo, class: 'image' if current_session_organ.logo.attached? %>
    <span><%= current_session_organ.name %></span>
  </div>
<% else %>
  <%= link_to index_path, class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.png', class: 'image' %>
  <% end %>
<% end %>
</div>
<div class="navbar-start">
  <%= link_to '我的任务', root_path, class: active_helper(controllers: ['tasks', 'task_timers'], active: 'navbar-item is-active', item: 'navbar-item') %>
  <%= link_to '就近办公', places_path, class: active_helper(controllers: ['places'], active: 'navbar-item is-active', item: 'navbar-item') %>
  <%= link_to '标准化服务', facilitates_path, class: active_helper(controllers: ['facilitates'], active: 'navbar-item is-active', item: 'navbar-item') %>
</div>
