<header class="ui top attached borderless menu">
  <div class="ui container">

    <% if current_user %>
      <%= link_to index_path, class: 'item header' do %>
        <span><%= t('site_name') %></span>
      <% end %>
      <%= link_to '我的任务', root_path, class: active_helper(controllers: ['tasks', 'task_timers']) %>
      <%= link_to '我的项目', my_projects_path, class: active_helper(controllers: ['projects', 'my/projects']) %>
      <%= link_to '就近办公', spaces_path, class: active_helper(controllers: ['spaces']) %>
      <%= link_to '标准化服务', facilitates_path, class: active_helper(controllers: ['facilitates']) %>
    <% else %>
      <%= link_to t('site_name'), root_path, class: 'item header' %>
      <%= link_to '发现项目', projects_path, class: active_helper(controllers: ['projects', 'my/projects']) %>
      <%= link_to '就近办公', spaces_path, class: active_helper(controllers: ['spaces']) %>
      <%= link_to '标准化服务', facilitates_path, class: active_helper(controllers: ['facilitates']) %>
    <% end %>
  
    <%= render 'layouts/right_menu' %>

  </div>
</header>


