<div class="right menu">
  <%= render partial: 'shared/locales' %>
  <%= render partial: 'rails_notice/link' %>
  <% if current_user %>
    <div class="ui simple dropdown item">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'ui avatar image' %>
      <% else %>
        <%= image_tag 'default_avatar.jpg', size: '28x28', class: 'ui avatar image' %>
      <% end %>
      <%= current_user.name %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to 'Profile', '/my', class: active_helper(controllers: ['users']) %>
        <%= link_to 'Admin', '/admin', class: 'item' %>
        <%= link_to '退出', logout_path, data: { confirm: '确认退出' }, class: 'item' %>
      </div>
    </div>
  <% else %>
    <%= link_to sign_path, class: 'item' do %>
      <i class="fas fa-user"></i> 登陆/注册
    <% end %>
  <% end %>
</div>
