<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= t('site_name') %></title>
    <%= stylesheet_link_tag 'phone', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= css_load media: 'all' %>
    <%= javascript_include_tag 'phone', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <% if content_for?(:wechat_js) %>
      <%= yield(:wechat_js) %>
    <% end %>
    <%= js_ready 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="weui-tab">
      <div class="weui-tab__panel">
        <%= yield %>
      </div>
      <%= render 'layouts/phone/tab_bar' %>
    </div>

    <%= js_load %>
    <%= javascript_include_tag 'wx/footer' %>
  </body>
</html>

