<div class="box">
  <%= render 'taxon' %>
</div>

<div class="is-fluid">
  <% @facilitates.each do |facilitate| %>
    <div class="media">
      <div class="media-left">
        <%= image_tag facilitate.logo, class: 'image is-48x48' if facilitate.logo_attachment %>
      </div>
      <div class="media-content">
        <%= link_to facilitate.name, facilitate_path(facilitate) %>
        <p><%= facilitate.description %></p>
      </div>
      <div class="media-right">
        <%= link_to '加入购物车', my_trade_items_path(good_id: facilitate.id, good_type: 'Facilitate', organ_id: facilitate.id), method: :post, class: 'button' %>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @facilitates %>
